* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
    background-color: lightgray;
}
header {
    background-color: white;
    margin-bottom: 50px;
    box-sizing: content-box;
}
#logo {
    vertical-align: middle;
}
#testologo {
    font-size: 50px;
    vertical-align: middle;
}
.maincontainer, .container {
    background-color: white;
    margin: auto;
    max-width: 80%;
    border-radius: 5px;
}
#pulsantiera {
    padding: 20px;
    max-width: 80%;
    background-color: white;
}
button {
    padding: 4px 8px;
    border-radius: 5px;
    border: 0;
}
#pulsante1 {
    background-color: lightblue;
    color: white;
    border: 1px solid grey;
}
#pulsante2 {
    background-color: white;
    color: lightgray;
    border: 1px solid grey;
}
section {
    margin: 5px;
}
.mainmenu {
    margin: 20px;
    padding: 20px;
}
.mainmenu span {
    font-size: 20px;
}
#main::before {
    content: '\25BC';
    font-size: larger;
}
.conferma {
    color: greenyellow;
    border: 1px solid greenyellow ;
    border-radius: 50%;
    padding: 4px 8px;
}
.errata  {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 4px 8px;
}
.layout {
    margin: 15px;
}
#etichettablu::after {
    content: 'Editorial';
    background-color: lightblue;
    padding: 2px 4px;
    border-radius: 5px;
    margin: 10px;
}
#etichettaviola::after {
    content: 'Q1 Goals';
    background-color: darkviolet;
    padding: 2px 4px;
    border-radius: 5px;
    margin: 10px;
}
#etichettaverdescuro::after {
    content: 'Recruiting';
    background-color: darkgreen;
    padding: 2px 4px;
    border-radius: 5px;
    margin: 10px;
}
#etichettaarancio::after {
    content: 'Mobile';
    background-color: orange;
    padding: 2px 4px;
    border-radius: 5px;
    margin: 10px;
}
#etichettarosa::after {
    content: 'Mobile';
    background-color: pink;
    padding: 2px 4px;
    border-radius: 5px;
    margin: 10px;
}
#etichettaarancio::after {
    content: 'Website';
    background-color: orange;
    padding: 2px 4px;
    border-radius: 5px;
    margin: 10px;
}
#etichettaverdechiaro::after {
    content: 'Sales';
    background-color: lightgreen;
    padding: 2px 4px;
    border-radius: 5px;
    margin: 10px;
}